server:
  port: 8081

spring:
  application:
    name: authservice
  datasource:
    url: jdbc:h2:mem:authdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: "very-secret-key-change-in-prod-1234567890" # use stronger in real
  expiration-ms: 3600000 # 1 hour
